<a href="https://colab.research.google.com/github/Nivethanajacob/ict_project1/blob/main/Assignment5python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r = float(input("Enter the radius: "))

area = 3.14 * r * r

print("Area of Circle is", area)

Enter the radius: 3
Area of Circle is 28.259999999999998

In [ ]:
name = input("Enter the name: ")
roll = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
numbers = [12, 3, 47, 10]

largest = max(numbers)

print(largest, "is the largest number.")

47 is the largest number.

In [ ]:
previous = 0

for current in range(1, 11):
    s = current + previous
    print("Current Number", current,
          "Previous Number", previous,
          "Sum:", s)
    previous = current

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [ ]:
numbers = [10, 20, 33, 46, 55]

for n in numbers:
    if n % 5 == 0:
        print(n)

10
20
55

In [ ]:
num = int(input("Enter the number: "))

if num <= 1:
    print(num, "is not a prime number.")
else:
    is_prime = True

    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num, "is a prime number.")
    else:
        print(num, "is not a prime number.")

Enter the number: 3
3 is a prime number.

In [ ]:
nums = [10, 40, 30, 70]

reversed_list = []

for item in nums[::-1]:
    reversed_list.append(item)

print(reversed_list)

[70, 30, 40, 10]

In [ ]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print(a)
elif b >= a and b >= c:
    print(b)
else:
    print(c)

Enter first number: 34
Enter second number: 12
Enter third number: 7
34

In [ ]:
for i in range(1, 6):
    print("*" * i)

for i in range(4, 0, -1):
    print("*" * i)

*
**
***
****
*****
****
***
**
*